*
{

    margin: 0;
    box-sizing: border-box;
    z-index: 1;

}

html
{

    overflow-x: hidden;

}

header
{

    display: flex;

}

.container
{

    justify-content: center;

}

.head
{

    height: 100%;
    max-height: 180px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

    margin-bottom: 90px;

}

.nav 
{

    position: relative;
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    
}

.logo
{

    display: flex;

}

.buttons
{

    display: flex;
    justify-content: center;
    max-width: 1300px;

}

.login
{

    display: flex;
    
}

#logo
{

    max-height: 180px;     
    max-width: 180px;

}

.head-span 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

#head-span-item
{

    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    margin-right: 90px;
    margin-left: 90px;

    background-image: linear-gradient(#00913E, #00913E);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;

    transition: .3s ease;

}

#home-link 
{

    text-decoration: none;

    margin-left: 29px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#merch-link 
{

    text-decoration: none;

    margin-left: 49px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

#concerts-link 
{

    text-decoration: none;

    margin-left: 13px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

.login
{

    width: 180px;
    height: 180px;
    align-items: center;

}

.login-button
{

    border: 0;
    border-radius: 0;
    background: #fff;

    cursor: pointer;

    padding: 0;

    text-decoration: none;

    margin-left: 53px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

.login-button-disabled
{

    visibility: hidden;

}

.login-button:hover 
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#head-span-item:hover
{

    background-size: 100% 5px;

}

#head-span-item:hover a 
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.slider_bl
{

    display: flex;

}

.slider-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    touch-action: pan-y;

}
  
.slider 
{
    width: 100%;
    max-width: 1740px;
    max-height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;

}
  
.slides {

    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    transition: 500ms ease-in-out;

}

.slide_move
{

    display: flex;
    overflow: hidden;
    position: relative;

}
  
.slide
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    height: 450px;

    scroll-snap-align: center;

    margin-right: 0px;
    box-sizing: border-box;

    background: white;
    transform-origin: center center;

    transform: scale(1);
    transition: 500ms ease;

}

.slide:hover
{

    transform: scale(1.025);

}

.slide img
{

    width: 100%;
    height: 100%;
    pointer-events: none;

}
  
.slider__nav 
{

    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;

}

.slider-container ol 
{

    position: absolute;
    left: 50%;
    transform: translate(-50%, 500%);
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;

}

.slider__navlink li 
{

    border: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(0, 145, 62, 0.3);
    margin: 0 10px 0 10px;
    transition: all .3s ease;
    box-shadow: 0px 0px 15px 1px #000;

}

.slider__navlink .activebtn
{

    border: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #00913E;
    margin: 0 10px 0 10px;
    transition: all .3s ease;
    box-shadow: 0px 0px 15px 1px #000;  
    transform: scale(1.1);

}

.slider__navlink li:hover
{

    background: #00913E;
    transform: scale(1.2);

}

.music-container
{

    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.music
{

    display: flex;
    width: 100%;
    max-width: 1740px;
    max-height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
    justify-content: start;
    transform: scale(1);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    transition: 500ms ease-in-out;

}

.music ul
{

    margin-top: 45px;

}

.music:hover
{

    transform: scale(1.025);
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);

}

.title
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 43px;

}

.artist
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 43px;
    color: #000;
    transition: .3s ease;

}

.artist:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.music-text
{

    margin-left: 45px;
    list-style-type: none;
    padding: 0;
    text-align: start;

}

.music-text-item2
{

    margin-top: 45px;

}

.listen-button
{

    background: #00913E;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: 500ms ease-in-out;

}

.listen-button:hover
{

    background: #FFFFFF;

}

.listen
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 43px;
    color: #FFFFFF;

}

.listen:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.music-description
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

}

footer
{

    display: flex;

}

.foot
{

    margin-top: 90px;

    width: 100%;
    height: 100%;
    min-height: 360px;
    background: #000;
    align-items: center;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

}

.down
{

    display: flex;
    align-items: center;

}

.exitsignal
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #FFFFFF;
    
}

.support
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #FFFFFF;

    transition: .3s ease;
    
}

.footer-text-block
{

    display: flex;
    position: absolute;
    right: 90px;

}

.footer-text-list 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.footer-text
{

    margin-right: 90px;

}

.support:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.footer-icon-block
{

    display: flex;
    position: absolute;
    left: 0px;

}

.footer-icon-list 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.footer-icon
{

    margin-left: 90px;

    transition: .3s ease;

}

.footer-icon:hover g
{

    fill: #00913E;
    box-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.language
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #FFFFFF;

    transition: .3s ease;

}

.language:hover
{

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.popup
{

    z-index: 4;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px 30px;  
    
    width: 500px;
    height: 480px;

    transition: top 0ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;

}

.active
{

    z-index: 3;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    padding: 20px 30px;  
    
    width: 500px;
    height: 480px;

    transition: top 0ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;

}

.close-btn
{

    position: absolute;
    top: 10px;
    right: 15px;
    text-align: center;
    cursor: pointer;
    transition: 100ms ease;

}

.close-btn:hover
{

    color: #00913E;

}

.auth p
{

    text-align: center;
    margin: 10px 0px 20px;

}

.auth .auth-element
{

    margin: 15px 0px;

}

.auth .auth-element label
{

    font-size: 20px;

}

.auth .auth-element input[type="text"],
.auth .auth-element input[type="password"]
{

    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    font-family: 'Impact';
    font-style: normal;
    font-size: 15px;

}

.auth .auth-element .signin, .signup
{

    width: 100%;
    height: 49px;
    border: none;
    outline: none;
    background: #00913E;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 500ms ease;

}

.auth .auth-element .signin:hover, .signup:hover
{

    background: #fff;
    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.auth .auth-element .forgot
{

    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    text-decoration: none;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    color: #000;
    cursor: pointer;
    transition: 100ms ease;

}

.auth .auth-element .forgot:hover
{

    color: #00913E;

}

.black-bg
{

    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: -150%;
    background: #000;
    opacity: 0;
    transition: top 0ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;

}

.active-bg
{

    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    transition: top 0ms ease-in-out 0ms;
    transition: opacity 200ms ease-in-out 0ms;

}