*
{

    margin: 0;
    box-sizing: border-box;

}

html
{

    overflow-x: hidden;

}

header
{

    display: flex;

}

.head
{

    height: 100%;
    max-height: 180px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

    margin-bottom: 90px;

}

.nav 
{

    position: relative;
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    
}

.logo
{

    display: flex;

}

.buttons
{

    display: flex;
    justify-content: center;
    max-width: 1300px;

}

.login
{

    display: flex;
    
}

#logo
{

    max-height: 180px;     
    max-width: 180px;

}

.head-span 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

#head-span-item
{

    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    margin-right: 90px;
    margin-left: 90px;

    background-image: linear-gradient(#00913E, #00913E);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;

    transition: .3s ease;

}

#home-link 
{

    text-decoration: none;

    margin-left: 29px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#merch-link 
{

    text-decoration: none;

    margin-left: 50px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

#concerts-link 
{

    text-decoration: none;

    margin-left: 13px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

.login
{

    width: 180px;
    height: 180px;
    align-items: center;

}

#login-button
{

    text-decoration: none;

    margin-left: 53px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

#login-button:hover 
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#head-span-item:hover
{

    background-size: 100% 5px;

}

#head-span-item:hover a 
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.slider-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
  
.slider 
{
    width: 100%;
    max-width: 1740px;
    max-height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;

}
  
.slides {

    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 50px;

}
  
.slide
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 100%;
    height: 450px;

    scroll-snap-align: center;

    margin-right: 0px;
    box-sizing: border-box;

    background: white;
    transform-origin: center center;

    transform: scale(1);

}

.slide img
{

    width: 100%;
    height: 100%;

}
  
.slide a 
{

    background: none;
    border: none;

}
  
.slider__nav 
{

    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;

}
  
.slider__navlink 
{

    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(0, 145, 62, 0.3);
    margin: 0 10px 0 10px;
    transition: all .3s ease;
    box-shadow: 0px 0px 15px 1px #000;

}

.slider__navlink:hover
{

    background: #00913E;
    transform: scale(1.1);

}

.music-container
{

    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.music
{

    display: flex;
    width: 100%;
    max-width: 1740px;
    max-height: 450px;
    text-align: center;
    overflow: hidden;
    position: relative;
    justify-content: start;
    background: url(music-bg.jpg) no-repeat center top / cover;

}

.title
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 43px;

}

.artist
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 43px;
    color: #000;
    transition: .3s ease;

}

.artist:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.music-text
{

    margin-left: 45px;
    list-style-type: none;
    padding: 0;
    text-align: start;

}

.music-text-item2
{

    margin-top: 45px;

}

.listen-button
{

    background: #00913E;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: .3s ease;

}

.listen-button:hover
{

    background: #FFFFFF;

}

.listen
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 43px;
    color: #FFFFFF;

}

.listen:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.music-description
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

}

footer
{

    display: flex;

}

.foot
{

    margin-top: 90px;

    width: 100%;
    height: 100%;
    min-height: 360px;
    background: #000;
    align-items: center;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

}

.down
{

    display: flex;
    align-items: center;

}

.exitsignal
{

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #FFFFFF;
    
}

.support
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #FFFFFF;

    transition: .3s ease;
    
}

.footer-text-block
{

    display: flex;
    position: absolute;
    right: 90px;

}

.footer-text-list 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.footer-text
{

    margin-right: 90px;

}

.support:hover
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.footer-icon-block
{

    display: flex;
    position: absolute;
    left: 0px;

}

.footer-icon-list 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.footer-icon
{

    margin-left: 90px;

    transition: .3s ease;

}

.footer-icon:hover g
{

    fill: #00913E;
    box-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}