*
{

    margin: 0;
    box-sizing: border-box;

}

html
{

    overflow-x: hidden;

}

header
{

    display: flex;

}

.head
{

    max-height: 180px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

    margin-bottom: 90px;

}

.nav 
{

    position: relative;
    display: flex;  
    
}

.logo
{

    display: flex;

}

.buttons
{

    display: flex;

}

.login
{

    display: flex;

}

#logo
{

    max-height: 180px;     
    max-width: 180px;

}

.head-span 
{

    display: flex;
    list-style-type: none;
    padding: 0;
    
}

#head-span-item
{

    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    margin-right: 180px;

    background-image: linear-gradient(#00913E, #00913E);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;

    transition: .3s;

}

#home-link 
{

    text-decoration: none;

    margin-left: 29px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#merch-link 
{

    text-decoration: none;

    margin-left: 50px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

#concerts-link 
{

    text-decoration: none;

    margin-left: 13px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

.login
{

    width: 180px;
    height: 180px;
    align-items: center;

}

#login-button
{

    text-decoration: none;

    margin-left: 53px;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #000;

}

#login-button:hover 
{

    text-decoration: none;

    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

#head-span-item:hover
{

    background-size: 100% 5px;

}

#head-span-item:hover a 
{

    text-decoration: none;

    color: #00913E;
    text-shadow: 0px 0px 10px rgba(0, 145, 62, 0.5);

}

.slider-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
  
.slider 
{
    width: 100%;
    max-width: 1740px;
    max-height: 450px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;

}
  
.slides {

    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 50px;

}
  
.slide
{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
}
  
.slide a 
{

    background: none;
    border: none;

}
  
.slider__nav 
{

    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;

}
  
.slider__navlink 
{

    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #00913E;
    margin: 0 10px 0 10px;

}

.slider__navlink
{

    background: rgba(0, 145, 62, 0.3);

}
  